<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:600px;padding-bottom:50px" />
      </div>
      <!-- <div>
        <input [(ngModel)] = "input.username" placeholder="username"><br>
        <input [(ngModel)] = "input.password" placeholder="password" type='password'><br>
        <!-- <input [(ngModel)] = "input.email" placeholder="email"><br> -->
        <!-- <button (click) = "onRegister()">Register User</button>
        <button (click) = "onLogin()">Login User</button>
      </div> --> 
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Jal</h3>
      </div>
    </div>
  </div>
</div>